<nav>
    <div class="nav-wrapper teal darken-1">
        <a href="#" class="brand-logo">Clima Actual</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="/historico">Clima historico</a>
            </li>
            <li>
                <a id="btn-actualizar" href="#">Actualizar</a>
            </li>
            <li>
                <a id="btn-actualizar" href="/reset">Reset</a>
            </li>
        </ul>
    </div>
</nav>


<div class="row">
  <div class="col-4-md">
    <div class="row">
      <div class="col s12 m6">
        <div class="card red darken-1">
          <div class="card-content white-text">
            <span class="card-title">Santiago</span>
            <p><% if @santiago.nil?%>
            No hay datos
            <% else %>
            <%= @santiago.temperatura%>
            <% end %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4-md">
    <div class="row">
      <div class="col s12 m6">
        <div class="card light-blue darken-1">
          <div class="card-content white-text">
            <span class="card-title">Buenos Aires</span>
            <p><% if @buenos_aires.nil? %>
            No hay datos
            <% else %>
            <%= @buenos_aires.temperatura%>
            <% end %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4-md">
    <div class="row">
      <div class="col s12 m6">
        <div class="card amber darken-1">
          <div class="card-content white-text">
            <span class="card-title">Lima</span>
            <p><% if @lima.nil?%>
            No hay datos
            <% else %>
            <%= @lima.temperatura%>
            <% end %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4-md">
    <div class="row">
      <div class="col s12 m6">
        <div class="card green darken-1">
          <div class="card-content white-text">
            <span class="card-title">Sao Paulo</span>
            <p><% if @sao_paulo.nil?%>
            No hay datos
            <% else %>
            <%= @sao_paulo.temperatura%>
            <% end %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">
    $(document).ready(function () {

        $('#btn-actualizar').click(function () {
            var apikey = '2eeb38e5c1e60f753b2f69c746dfc7f0';

            ciudades = {
                "Santiago": '3871336',
                "Buenos Aires": '6693229',
                "Lima": '3936456',
                "Sao Paulo": '7521912'
            };

            $.each(ciudades, function (key, value) {

                var url = 'http://api.openweathermap.org/data/2.5/forecast/city?id=' + value + '&APPID=' + apikey;

                $.get(url, function (data) {
                    console.log(data);
                    if (data.message === 'Error') {
                        alert("La API no responde para la ciudad de " + key);
                    } else {

                        //console.log(data.list[0].main.temp);
                        $.ajax({
                            // la URL para la petición
                            url: '/getTemperatura',

                            // la información a enviar (también es posible utilizar una cadena de datos)
                            data: {
                                'ciudad': key,
                                'temperatura': data.list[0].main.temp,
                                authenticity_token: window._token
                            },
                            // especifica si será una petición POST o GET
                            type: 'POST',
                            // código a ejecutar si la petición es satisfactoria; la respuesta es pasada como argumento a la función
                            success: function (response) {
                                console.log('Exito');
                                location.reload();
                            }
                        });

                    }
                });

            });

        });

    });
</script>
